<header class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1><a class="firsth1" routerLink="">FUN</a></h1>
      <h1><a routerLink="">DABLE</a></h1>
    </div>
    <div class="col-sm-6">
      <ul>
        <li ><a (click)="login()">Log In / Register</a></li>
        <li ><a (click)="logout()">Log Out</a></li>
        <li><a href="">Search</a></li>
        <li><img src="" alt=""></li>
      </ul>
      <ul>
        <li><a routerLink="personal">Personal</a></li>
        <li><a routerLink="business">Business</a></li>
        <li><a routerLink="art">Art</a></li>
        <li><a routerLink="Technology">Technology</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <div routerLink='newproject' class="create-project">
        <span>Get Funded!</span>
      </div>
    </div>
  </div>
</header>
<div class="container router-wrapper">
  <router-outlet></router-outlet>
</div>
