@import '_globals';


body {
  font-family: "Helvetica", sans-serif;
}

a {
  color: black;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header  {
  @include inline-ul;
  ul {
    margin: 0;
    display: block;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    li {
      a {
        padding: 15px;
        text-align: right;
        font-weight: bold;
      }
      &:last-child {
        margin-right: 25px;
      }
    }
    &:nth-child(2) {
    position: relative;
    top: 10px;
    li {
      transition: 200ms;
      &:hover {
        background-color: black;
      }
      a {
        display: inline-block;
        padding: 15px;
        color: black;
        &:hover {
          color: white;
        }
      }
    }
    }
  }
  margin-top: 25px;
  margin-bottom: 10px;
  div.col-sm-4,
  div.col-sm-6,
  div.col-sm-2 {
    padding: 0;
  }

  h1 {
    padding: 0;
    margin: 0;
    a {
      color: black;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: .5rem;
      &:hover {
        color: black;
        text-decoration: none;
      }
      &:focus {
        color: black;
        text-decoration: none;
      }
    }
    a.firsth1 {
      font-size: 3.5rem;
      letter-spacing: 2.5rem;
    }
  }
  .create-project {
    border: 2px solid red;
    height: 80px;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
    transition: .5s;
    span {
      position: relative;
      top: 45px;
      left: 10px;
    }
    &:hover{
      color: white;
      background-color: red;
      cursor: pointer

    }
  }
}

.router-wrapper {
  padding: 0;
}
